.employee__card {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.employee__link {
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #1a76d2;

  &:hover {
    background-color: #f5f5f5;
    border-radius: 0.25rem;
  }
}
