@import "../../styles/styleConstants.scss";

.layout {
  width: 100vw;
  height: 100vh;
}

.layout__menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $lightGray;
  width: 14rem;
  border-right: 2px solid $gray;
}

.layout__content {
  width: calc(100% - 14rem);
  height: 100vh;
  margin-left: 14rem;
  padding: 1rem;
  overflow-x: hidden;
}
