@import '../../styles/styleConstants.scss';

.left-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-menu__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.left-menu__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-menu__nav-item {
  color: black;
  text-decoration: none;
  width: 100%;
}

.left-menu__nav-item--active {
  color: $hoverBlue;

  svg {
    color: $hoverBlue;
  }
}

.left-menu__nav-item--bottom {
  margin-bottom: 1rem;
}

.flex-grow {
  flex: 1;
}
